body {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    background: #353535;
    margin: 0;
    color: #ffffff;
    overflow-x: hidden;
}
img {
    max-width: 12vw;
    aspect-ratio: 4/3 !important;
    object-fit: contain;
}

#btn {
    position: fixed;
    width: 2rem;
    height: 2rem;
    bottom: 1rem;
    right: 1rem;
    background: gray;
}

#page {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#page > div {
    min-height: 100vh;
}
.content {
    display: grid;
    place-items: center;
    opacity: 0;
    filter: blur(2rem);
    /*transform: translateX(-200%);*/
    transition: all 1s;
}

.not-moving,
.show {
    filter: blur(0) !important;
    /*transform: translateX(0) !important;*/
    opacity: 1 !important;
}
@media (prefers-reduced-motion) {
    .content {
        transition: none;
    }
}

.zone {
    display: flex;
    justify-items: center;
    place-items: center;
    min-width: 90vw;
    min-height: 50vh;
}
.zone > div {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    font-size: 2rem;
    width: 30vw;
    width: fit-content;
}
.zone > div:has(p) {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.zone > div > p:first {
    font-size: 4rem;
    text-wrap: nowrap;
}
.zone > div > img {
    min-width: 100%;
}
